<div class="slds-media">
  <div class="slds-media__figure">
    <span class="slds-icon_container slds-icon-standard-opportunity" title="opportunity">
      <svg class="slds-icon slds-page-header__icon" aria-hidden="true">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#opportunity" />
      </svg>
      <span class="slds-assistive-text">opportunity</span>
    </span>
  </div>
  <div class="slds-media__body">
    <div class="slds-page-header__name">
      <div class="slds-page-header__name-title">
        <h1>
          <span class="slds-page-header__title slds-hyphenate" title="Burlington Textile Weaving Plant Generator">Burlington
            Textile Weaving Plant Generator</span>
        </h1>
      </div>
    </div>
  </div>
</div>
</div>
<div class="slds-page-header__controls">
  <button class="slds-button slds-button_neutral slds-button_stateful slds-not-selected" aria-live="assertive">
    <span class="slds-text-not-selected">
      <svg class="slds-button__icon slds-button__icon_small slds-button__icon_left" aria-hidden="true">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#add" />
      </svg>Follow</span>
    <span class="slds-text-selected">
      <svg class="slds-button__icon slds-button__icon_small slds-button__icon_left" aria-hidden="true">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check" />
      </svg>Following</span>
    <span class="slds-text-selected-focus">
      <svg class="slds-button__icon slds-button__icon_small slds-button__icon_left" aria-hidden="true">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close" />
      </svg>Unfollow</span>
  </button>
  <ul class="slds-button-group-list">
    <li>
      <button class="slds-button slds-button_neutral">Edit</button>
    </li>
    <li>
      <button class="slds-button slds-button_neutral">Delete</button>
    </li>
    <li>
      <button class="slds-button slds-button_icon slds-button_icon-border-filled" aria-haspopup="true" title="More Actions">
        <svg class="slds-button__icon" aria-hidden="true">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down" />
        </svg>
        <span class="slds-assistive-text">More Actions</span>
      </button>
    </li>
  </ul>
</div>
