<div *ngIf="!isLoggedIn" style="padding-top:20px;padding-right: 10px;padding-left: 10px;">
    <div class="jumbotron" style="padding-right: 10px;padding-left: 10px;"> 
            <div>
                    <table  style="width:100%">
                            <tr>
                                    <td style="width:10%">
                                            <img src="/assets/icon-32.png" />
                                        </td>
                                <td  style="width:90%"> 
                                    <h3>Web Excel Salesforce Library</h3> <br /> 
                                </td> 
                            </tr>
                          </table>  
            </div><br/>
      <p>
          <a (click)="prod()" id="prodBtn" role="button" style="margin-right:40px" class="btn btn-primary btn-lg">Production</a>
          <a  (click)="sand()" id="sandBtn" role="button" class="btn btn-primary btn-lg">Sandbox</a>
        </p>
    </div>
    </div>
    <query-component *ngIf="isLoggedIn"></query-component>
