<div id="excelapp" class="slds-scope">
    <article class="slds-card">
        <div class="slds-card__header slds-grid">
            <header class="slds-media slds-media_center slds-has-flexi-truncate">
                <div class="slds-media__figure">
                    <span class="slds-icon_container slds-icon-doctype-excel" title="Excel">
                        <svg class="slds-icon" aria-hidden="true">
                            <use xlink:href="/_slds/icons/doctype-sprite/svg/symbols.svg#excel"> </use>
                        </svg> <span class="slds-assistive-text">Description</span>
                    </span>

                </div>
                <div class="slds-media__body">

                    <button *ngIf="!isLoggedIn" id="loginbutton" class="slds-button slds-button_neutral  slds-not-selected slds-button_brand"
                        aria-live="assertive" (click)="login()">
                        <span class="slds-text-not-selected">
                            <svg class="slds-button__icon slds-button__icon_small slds-button__icon_left" aria-hidden="true">
                                <use xlink:href="/_slds/icons/utility-sprite/svg/symbols.svg#add"></use>
                            </svg>Login </span>
                    </button>
                    <button *ngIf="isLoggedIn" id="logoutbutton" class="slds-button slds-not-selected slds-button_brand"
                        aria-live="assertive" (click)="logout()">
                        <span class="slds-text-not-selected">
                            <svg class="slds-button__icon slds-button__icon_small slds-button__icon_left" aria-hidden="true">
                                <use xlink:href="/_slds/icons/utility-sprite/svg/symbols.svg#logout"></use>
                            </svg>Logout
                        </span> </button> </div>
            </header>
        </div>
    </article>
    <article class="slds-card">
        <div class="slds-card__body slds-card__body_inner">
            <form [formGroup]="queryForm" (ngSubmit)="onSubmit()" class="slds-form">
                <div class="slds-form-element slds-form-element_stacked form-group">
                    <label class="slds-form-element__label" for="stacked-input-id-02">SOQL
                        56</label>
                    <div class="slds-form-element__control">
                        <textarea id="soql" formControlName="soql" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.soql.errors }"
                            placeholder="Select Id, Name, ... FROM Account" class="slds-textarea">
                        </textarea>
                        <div *ngIf="submitted && f.soql.errors" class="invalid-feedback">
                            <div *ngIf="f.soql.errors.required">Query is required</div>
                        </div>
                    </div>
                </div>

                <button type="submit" class="slds-button slds-button_icon slds-button_icon-brand" title="Search">
                    <svg class="slds-button__icon" aria-hidden="true">
                        <use xlink:href="/_slds/icons/standard-sprite/svg/symbols.svg#search">
                        </use>
                    </svg> <span class="slds-assistive-text">Search</span>
                </button>

                <fieldset class="slds-form-element slds-form-element_stacked">
                    <legend class="slds-form-element__legend slds-form-element__label">Settings</legend>
                    <div class="slds-form-element__control form-group">
                        <div class="slds-checkbox">
                            <input type="checkbox" class="form-control" formControlName="currentlocation" name="currentlocation"
                                id="currentlocation">
                            <label class="slds-checkbox__label" for="currentlocation">
                                <span class="slds-checkbox_faux"></span>
                                <span class="slds-form-element__label">Use current location</span>
                            </label>
                        </div>
                    </div>
                    <div class="slds-form-element__control form-group">
                        <div class="slds-checkbox">
                            <input type="checkbox" class="form-control" formControlName="usecustomloginurl" name="usecustomloginurl"
                                id="usecustomloginurl">
                            <label class="slds-checkbox__label" for="usecustomloginurl">
                                <span class="slds-checkbox_faux"></span>
                                <span class="slds-form-element__label">Custom Login Url</span>
                            </label>
                        </div>
                    </div>
                    <div *ngIf="usecustomloginurl" class="slds-form-element__control form-group">
                        <div class="slds-form-element">
                            <label class="slds-form-element__label" for="customurl">Custom Login Url</label>
                            <div class="slds-form-element__control">
                                <input id="customurl" formControlName="customurl" name="customurl" placeholder="" class="slds-input"
                                    type="text" value="" />
                            </div>
                        </div>
                    </div>
                </fieldset>

            </form>
        </div>
    </article>
</div>
